* {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
}

.uper_box {
  /* border: 5px solid red;0 */
  height: 500px;
  width: 200px;
  margin: 50px;
  position: fixed;
}

#icon {
  /* background-color: white; */

  /* border: 5px solid red; */

  height: 50px;
  width: 50px;
}
h2 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 100px;
}

ul li {
  list-style-type: none;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

#bg_img {
  height: 600px;
  width: 1286px;
  margin-left: 250px;
}
.pro_miss {
  /* border: 5px solid red; */
  height: 200px;
  width: 500px;
  margin-left: 600px;
  margin-top: 100px;
}
#txt_pro {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
}
#txt_pro_h3 {
  font-family: Arial, sans-serif;
  text-align: center;
}

.box_effort_1 {

    /* border: 5px solid red;
  height: 300px;
  width: 500px;
  margin-left: 600px; */

}
