* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    width: 800px;
    height: auto;
    /* background-color: #f3f3fe; */
    margin-left: 25%;
}

.headings {
    border: 2px solid rgb(92, 177, 198);
    height: 170px;
    width: 600px;
    margin: 30px 50px 38px 90px;

}

.headings h1 {
    font-size: 32px;
    text-align: left;
    line-height: 30.16px;
    padding: 30px 30px 0px 30px;
}

.headings p {
    color: #57647e;
    padding-top: 30px;
    padding-left: 30px;


}

.product_container {
    width: 352px;
    height: 650px;
    border: 1px solid rgb(166, 164, 160);
    margin-left: 200px;
    margin-top: 20px;


}

.image_container {
    width: 648px;
    height: 516px;

}

.img_1 {
    width: 350px;
    height: 357px;

    background-image: url(T_1.jpg);
    background-size: cover;

}

#checkbox {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.text {
    margin-top: 20rem;
    margin-left: 1rem;

}

p {
    font-size: 20px;
}


.price {
    margin-left: 1rem;
    font-size: 20px;

    margin-top: 10px;
    color: rgb(59, 37, 227);
}

.text_qty {
    margin-top: 80px;
    margin-left: 1rem;
}

select {
    width: 60px;
    height: 35px;
    margin-left: 1rem;
    background-color: #ffff;
    border: 1px solid #d3c7c7;
    border-radius: 5px;
    text-align: center;


}

.text_color {
    margin-left: 1rem;
}